
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');

:root{
  --bg-main: #131722;
  --color-main:#fff;
  --light-bg:#24baef;
  --border-color: #949cb0;

}

body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif !important;
}
.brdr{
  background-color: var(--border-color);
  height: 1px;

}

nav{
  color: var(--color-main) !important;

}

footer{
  background-color : rgba(13, 17, 22, 0.5)
}

.point{
  cursor: pointer;
}

.vote{
  background-color: var(--light-bg);
}